# Name of the project

![logo]({{ logo }})

[![{{ badges }}](https://img.shields.io/badge/%20%20%F0%9F%93%A6%F0%9F%9A%80-{{ badges }}-e10079.svg)]({{ github }}/{{ namespace }}/{{ project }})

## Introduction

## Usage

**IMPORTANT:** The `master` branch is used in `source` just as an example. In your code, do not pin to `master` because there may be breaking changes between releases.
Instead pin to the release tag (e.g. `?ref=tags/x.y.z`) of one of our [latest releases]({{ github }}/{{ namespace }}/{{ project }}/{{ release }}).

## Quick Start

## Examples

## Share the Love

Like this project? Please give it a ★ on [our GitHub]({{ github }}/{{ namespace }}/{{ project }})! (it helps us **a lot**)

## Related Projects

Check out these related projects.

- {{ github }}/{{ namespace }}

## References

For additional context, refer to some of these links.

## Help

**Got a question?**

File a GitHub [issue]( {{ github }}/{{ namespace }}/{{ project }}/{{ issue }} )

### Developing

If you are interested in being a contributor and want to get involved in developing this project, we would love to hear from you! Shoot us an {{ email }}.

In general, PRs are welcome. We follow the typical "fork-and-pull" Git workflow.

 1. **Fork** the repo on GitHub
 2. **Clone** the project to your own machine
 3. **Commit** changes to your own branch
 4. **Push** your work back up to your fork
 5. Submit a **Pull Request** so that we can review your changes

**NOTE:** Be sure to merge the latest changes from "upstream" before making a pull request!

## About

This project is maintained and funded by {{ website }}.

[![{{ namespace }}]({{ logo }})]({{ website }})

Check out {{ github }}, to help with your cloud strategy and implementation.

### Contributors

- {{ name }}: {{ github }}/{{ name }}
